.sidebar {
    position: fixed;
    background-color: rgb(172, 168, 168);
    box-sizing: border-box;
    box-shadow: 0 0 5px rgb(52, 51, 51);
    height: 100%;
}

.sidebar ul li {
    list-style: none;
    font-size: 18px;
}

.sidebar ul li a{
    display: block;
    color: #333;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0 5px 10px;
    border-radius: 5px 5px;
    text-decoration: none;
}

.sidebar a.active{
    background: #333;
    color: white;
}